h1 {
    background: beige; 
    color: blue; 
    font-size: 250%; 
    text-align: center; 
    text-decoration: underline;
    }
body {
    margin: 0;
    padding: 0;
    background-color: rgb(165, 217, 233); 
    background-image: url(../Imagen/fondo.jpg); 
    background-repeat: cover; background-attachment: fixed; 
    }
p {font-size:120%;}
h2 {font-size: 140%; text-align: justify;}
h3 {font-size: 120%; text-decoration: underline;}

nav {
    display: flex;
    background-color: palegreen;
    flex-direction: row;
}

nav a {
    padding: 14px 20px;
    color: black;
    background-color: aliceblue;
    border: 2px rgb(26, 15, 1) solid;
    font-size: 25px;
}

nav a:hover{
    background: white;
    color: red;
    width: 20%;
    border: 10px solid blueviolet;
}

section {
background-color: thistle;
width:42%;
float: left;
margin: 0.3%;
padding: 15px;
box-sizing: border-box;
border: 4px rgb(26, 15, 1) solid;
height: 400px;
overflow: auto;
}

section h3:hover{
    background: white;
    color: red;
    width: 20%;
    border: 10px solid blueviolet;
}

aside {
display: flex;
background-color: darkcyan;
width: 55%;
float: left;
margin: 0.3%;
padding: 0.2%;
box-sizing: border-box;

}

footer {background-color: powderblue;
clear: both;
display: flex;
}

.whatsapp {
    position: fixed;
    bottom:25px;
    right:25px;
    z-index:100;
}
.whatsapp :hover{
    width: 200%;
}
